@model DisqussTopics.Models.Topic

@{
    ViewData["Title"] = "Delete Topic";
}

<div class="col-sm-12 col-md-12 col-lg-8 mt-2">
    <div class="card text-bg-dark">
        <div class="card-header">
            <span class="h1">Delete Topic</span>
        </div>

        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.About)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.About)
                </dd>
                <dt class="col-sm-2">
                    Members
                </dt>
                <dd class="col-sm-10">
                    @if (Model.DTUsers != null)
                    {
                        <span>@Html.DisplayFor(model => model.DTUsers.Count)</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </dd>
            </dl>
        </div>

        <div class="card-footer d-flex gap-2 justify-content-end">
            <a class="btn btn-secondary" asp-action="Detail" asp-route-slug="@Model.Slug">Back to Topic</a>
            <form asp-action="Delete" asp-route-slug="@Model.Slug">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>