@model IEnumerable<DisqussTopics.Models.Topic>

@{
    ViewData["Title"] = "All Topics";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.About)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                <td>@Html.DisplayFor(modelItem => item.Slug)</td>

                <td>@Html.DisplayFor(modelItem => item.Created)</td>

                <td>@Html.DisplayFor(modelItem => item.About)</td>

                <td>@Html.DisplayFor(modelItem => item.Banner)</td>

                <td>@Html.DisplayFor(modelItem => item.Icon)</td>

                <td>
                    <a asp-action="Detail" asp-route-slug="@item.Slug">View Topic</a>|
                    <a asp-action="Edit" asp-route-slug="@item.Slug">Edit Topic</a>|
                    <a asp-action="Delete" asp-route-slug="@item.Slug">Delete Topic</a>
                </td>
            </tr>
        }
    </tbody>
</table>