@model DisqussTopics.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col col-lg-8">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="card text-bg-dark d-lg-none mb-2">
                <div class="card-body">
                    <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Create Post</a>
                    <a asp-controller="Topic" asp-action="Create" class="btn btn-success">Create Topic</a>
                    <a asp-controller="Topic" asp-action="Index" class="btn btn-info">View All Topics</a>
                </div>
            </div>
        }



        <div class="card text-center text-bg-dark mb-2">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <!--  Checks if the mostupvoted action method was selected-->
                        @if (ViewContext.RouteData.Values["action"].ToString() == "MostUpvoted" ||
                        ViewContext.RouteData.Values["action"].ToString() == "Index")
                        {
                            <a class="nav-link active" asp-action="MostUpvoted">Most Upvoted</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="MostUpvoted">Most Upvoted</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewContext.RouteData.Values["action"].ToString() == "MostDiscussed")
                        {
                            <a class="nav-link active" asp-action="MostDiscussed">Most Discussed</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="MostDiscussed">Most Discussed</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewContext.RouteData.Values["action"].ToString() == "NewPosts")
                        {
                            <a class="nav-link active" asp-action="NewPosts">New Posts</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="NewPosts">New Posts</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (ViewContext.RouteData.Values["action"].ToString() == "Explore")
                        {
                            <a class="nav-link active" asp-action="Explore">Explore</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-action="Explore">Explore</a>
                        }
                    </li>
                </ul>
            </div>
        </div>

        @foreach (var item in Model.Posts)
        {
                // Bootstrap Card
            <div class="card text-bg-dark mb-2">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <span>
                            Topic:
                            <a asp-controller="Topic" asp-action="Detail" asp-route-slug="@item.Topic.Slug">
                                @Html.DisplayFor(modelItem => item.Topic.Name)
                            </a>
                            - Posted by
                            <a href="#">
                                @Html.DisplayFor(modelItem => item.DTUser.DTUsername)
                            </a>
                            Time:
                            @Html.DisplayFor(modelItem => item.Created)
                        </span>

                        <div class="dropdown">
                            <span role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="material-symbols-outlined">
                                    more_vert
                                </span>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" asp-controller="Post" asp-action="Detail" asp-route-topic="@item.Topic.Name" asp-route-slug="@item.Slug" asp-route-id="@item.Id">View</a>
                                </li>
                                @if (User.IsInRole("Admin") || item.DTUser.Id == Model.CurrentUserId)
                                {
                                    <li>
                                        <a class="dropdown-item" asp-controller="Post" asp-action="Edit" asp-route-topic="@item.Topic.Name" asp-route-slug="@item.Slug" asp-route-id="@item.Id">Edit</a>
                                    </li>
                                    <li>
                                        <span role="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-@item.Id">
                                            Delete
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <a asp-controller="Post" asp-action="Detail" asp-route-topic="@item.Topic.Name" asp-route-slug="@item.Slug" asp-route-id="@item.Id">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    </a>
                </div>
                <div class="card-body">
                    <img src="~/images/test2.png" class="img-fluid">
                </div>

                <div class="card-body">
                    @Html.Raw(item.Content)
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div class="d-flex">

                        <!-- Upvote button-->
                        @if (item.Upvotes != null)
                        {
                            @if (item.Upvotes.Any(u => u.Id == Model.CurrentUserId))
                            {
                                <form asp-controller="Post" asp-action="RemoveUpvotePost" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-success">
                                        <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">
                                            arrow_circle_up
                                        </span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Post" asp-action="UpvotePost" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-success">
                                        <span class="material-symbols-outlined">
                                            arrow_circle_up
                                        </span>
                                    </button>
                                </form>
                            }
                        }
                        <!-- vote count -->
                        <span class="mx-3">@item.Votes</span>

                        @if (item.Downvotes != null)
                        {
                            if (item.Downvotes.Any(d => d.Id == Model.CurrentUserId))
                            {
                                <form asp-controller="Post" asp-action="RemoveDownvotePost" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger">
                                        <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1;">
                                            arrow_circle_down
                                        </span>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Post" asp-action="DownvotePost" asp-action="DownvotePost" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger">
                                        <span class="material-symbols-outlined">
                                            arrow_circle_down
                                        </span>
                                    </button>
                                </form>
                            }
                        }

                    </div>
                    <!-- comments-->
                    <div>
                        <span class="material-symbols-outlined">
                            chat_bubble
                        </span>
                        @if (item.Comments != null)
                        {
                            @Html.DisplayFor(ModelItem => item.Comments.Count)
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </div>
                    <!-- share-->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-share-post-@item.Id">Share</button>
                </div>
            </div>

            <!-- Post share Modal -->
            <div class="modal fade post-share-modal" id="modal-share-post-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-post-share-modal-id="@item.Id">
                @await Html.PartialAsync("~/Views/Post/_SharePostPartial.cshtml", new PostViewModel() { Post = item })
            </div>

            <!-- Post delete Modal -->
            <div class="modal fade" id="modal-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content text-white bg-dark">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Post</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete "@item.Title"?
                        </div>
                        <div class="modal-footer">
                            <form asp-controller="Post" asp-action="Delete" asp-route-topic="@item.Topic.Name" asp-route-slug="@item.Slug" asp-route-id="@item.Id">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Confirm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-4 d-none d-lg-block">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- User logged in welcome card-->
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Home</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Create Post</a>
                    <a asp-controller="Topic" asp-action="Create" class="btn btn-success">Create Topic</a>
                    <a asp-controller="Topic" asp-action="Index" class="btn btn-info">View All Topics</a>
                </div>
            </div>
        }
        else
        {
            <!-- User logged in welcome card-->
            <div class="card text-bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Home</h5>
                    <p class="card-text">Welcome create an account or login to post</p>
                    <a class="nav-link btn btn-primary w-50 mb-2" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    <a class="nav-link btn btn-success w-50" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </div>
            </div>
        }
    </div>
</div>
