@model IEnumerable<DisqussTopics.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Create" class="btn btn-primary">Create Post</a>
<a asp-controller="Topic" asp-action="Create" class="btn btn-success">Create Topic</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>

                <td>@Html.DisplayFor(modelItem => item.Slug)</td>

                <td>@Html.DisplayFor(modelItem => item.Created)</td>

                <td>@Html.DisplayFor(modelItem => item.Updated)</td>

                <td>@Html.DisplayFor(modelItem => item.Content)</td>

                <td>@Html.DisplayFor(modelItem => item.Image)</td>

                <td>@Html.DisplayFor(modelItem => item.Video)</td>

                <td>@Html.DisplayFor(modelItem => item.Topic.Name)</td>
                <td>
                    <a asp-action="Detail" asp-route-topic="@item.Topic.Name" asp-route-slug="@item.Slug" asp-route-id="@item.Id">Detail</a>|
                    <a>Edit</a>|
                    <a>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>